@import url('https://fonts.googleapis.com/css?family=Raleway+Dots|VT323');

.bgStyle{
    background-image: url('https://media.giphy.com/media/l2JhNN6GcRNr27lmg/giphy.gif');
    width: 100vw;
    min-height: 100vh; 
    font-family: 'VT323', monospace;
    
 }  
h1{
    width: 300px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:12px; 
    padding-top: 12px;
    font-family: 'VT323', monospace;
    text-decoration: underline dotted red;
    text-shadow: 0 0 0.2em #F87, 0 0 0.1em #F87
    /* font-family: 'Raleway Dots', cursive; */
    
  
}
p{
    font-family: 'VT323', monospace;
    color:red;
    text-decoration: underline dotted black;
    text-shadow: 0 0 0.2em yellow, 0 0 0.1em yellow;
    font-size: 25px;
    /* font-weight: bold; */

}

.btnColor{
    background-image: url('https://media.giphy.com/media/3ov9jHiEzknijxAD3q/giphy.gif');
    box-shadow: 65px plum;
}
.btn1{
    opacity: 0.1;
}
.sizeRabbit{
    height: 65px;
    width: auto;
}
.hiddenRabbit{
    height: 25px;
    width:auto;
}
.hiddenRabbitPosition{
    float: right;
    margin-right: 30px;
}
.hiddenRabbitPosition1{
    float: left;
    margin-left: 30px;
}
.hiddenRabbitPosition2{
    float: center;
}
.imgApi{
    height: 80px;
    width:auto;
    border-radius: 30%;
}
.imgMod{
    height: 250px;
    width: auto;
}
.imgMod1{
    height: 150px;
    width: 150px;
}

.imgRabb{
    height: 100px;
    width: auto;
}
